body {
  background-image: url("water.jpg");
  background-repeat: repeat;
  font-family: Verdana, sans-serif;
  margin: auto;
  max-width: 50em;
}

h1 {
  background-color: white;
  margin-left: 5%
}

h2 {
  margin-left: 5%
}

h3 {
  margin-left: 5%
}

h4 {
  margin-left: 5%
}

h5 {
  margin-left: 5%
}

div {
  background-color: white;
  border-left: solid blue 5px;
  margin-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

div.pic {
  padding: 0.5em 0em 0em 0em;
  border: none;
  background-color: white;
}

p {
  margin-left: 6%;
  margin-right: 5%;
}

ul {
  margin-left: 6%;
  margin-right: 5%;
}

img {
  max-width: 50em;
}

.portrait {
  float: left;
  padding: 1em 1em 1em 0em;
  height: 15em;
}

footer {
  background-color: blue;
  color: white;
  padding: 1em;
  bottom: 0;
  max-width: 50em;
  margin-top: 1em;
}

footer a {
	color: white;
}

header {
  background-color: blue;
  color: white;
  font-size: 150%;
  padding: 0.5em;
}

header table {
  border-spacing: 0.5em;
}

header a {
  color: white
}

header a:link {
  text-decoration: none;
}

header a:visited {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header a:active {
  text-decoration: none;
}

