body {
  background-image: url("water-smallest.jpg");
  background-repeat: repeat;
  font-family: Verdana, sans-serif;
  margin: auto;
}

h1 {
  background-color: white;
  margin-left: 5%
}

h2 {
  margin-left: 5%
}

h3 {
  margin-left: 5%
}

h4 {
  margin-left: 5%
}

h5 {
  margin-left: 5%
}

div {
  background-color: white;
  border-left: solid blue 5px;
  margin-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  max-width: 55em;
  margin: 1em auto;
}

div.pic {
  padding: 0.5em 0em 0em 0em;
  border: none;
  background-color: white;
}

div.code {
  position: relative;
  margin: 1em;
  padding: 1em 0em;
  border: 1px darkgrey;
  border-style: solid;
  border-radius: 1em;
  margin-left: -1em;
  margin-right: -1em;
}

.oneline {
  white-space: nowrap;
}

.code > label {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  color: darkgrey;
  padding: 0.5em;
  margin: -1px;
  border: 1px darkgrey;
  border-style: solid;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

code {
  font-size: larger;
}

.danger {
  color: red;
}

p {
  margin-left: 6%;
  margin-right: 5%;
}

figcaption {
  font-size: smaller;
}

ul {
  margin-left: 6%;
  margin-right: 5%;
}

img {
  max-width: 50em;
}

.portrait {
  float: left;
  padding: 1em 1em 1em 0em;
  height: 15em;
}

footer {
  background-color: blue;
  color: white;
  padding: 1em;
  bottom: 0;
  margin: 1em auto;
  max-width: 65em;
}

footer a {
	color: white;
}

header {
  background-color: blue;
  color: white;
  font-size: 150%;
  padding: 0.1em;
}

header strong {
  font-size: 150%;
}

header ul {
  list-style: none;
}

header li {
  display: inline;
  padding-right: 0.75em;
}

header a {
  color: white
}

header a:link {
  text-decoration: none;
}

header a:visited {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header a:active {
  text-decoration: none;
}

