p, h3 {
    width: 50em;
    margin: auto;
}

@media only screen and (max-width: 1000px) {
    body {
        font-size: 1.5em;
    }

    input {
        height: 2em;
        font-size: 2em;
    }

    h1, h3, label {
        font-size: 1.5em;
    }

    div.text {
        width: 95%;
        margin: auto;
    }

    p {
        width: 100%;
    }
}